<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>陈兴</string>
		<key>position</key>
		<string>特级教师</string>
		<key>subject</key>
		<string>计算机</string>
	</dict>
	<dict>
		<key>name</key>
		<string>董强</string>
		<key>position</key>
		<string>特级教师</string>
		<key>subject</key>
		<string>计算机</string>
	</dict>
	<dict>
		<key>name</key>
		<string>韩扬</string>
		<key>position</key>
		<string>医生</string>
		<key>subject</key>
		<string>心理</string>
	</dict>
</array>
</plist>
